<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Complex742</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Complex742.styles.css" asp-append-version="true" />
    <link rel="shortcut icon" href="~/img/logo/Logo-complex742.png" type="image/png">
</head>
<body>
    <header>
        <nav>
            <div>
                <a asp-controller="Home" asp-action="Index"><img src="~/img/logo/Logo-complex742.png" alt="Complex742" width=194px height=90px/></a>
            </div>
            <div>
                 <ul>
                    <li>
                            <a asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                 </ul>
            </div>   
        </nav>
    </header>
    <div>
        <main>
            @RenderBody()
        </main>
    </div>

    <footer>
        <div>
            
        </div>
    </footer>
</body>
</html>
