@{
    ViewData["Title"] = "Complex742-Home";
}

<div class="text-center">
    <h1 class="display-4">Complex742</h1>
    <ul> 
        <li><a href="../Equipments/Index">Модуль "Оборудование"</a></li>
        <li><a href="../Equipments/Index">Модуль "Персонал"</a></li>
        <li><a href="../Equipments/Index">Модуль "Материалы"</a></li>
        <li><a href="../Equipments/Index">Модуль "Статистика"</a></li>
        <li><a href="../Equipments/Index">Модуль "Охрана труда"</a></li>
        <li><a href="../Equipments/Index">Модуль "Технология"</a></li>
    </ul>
</div>
