@model List<Complex742.Models.Equipments.Equipment>

@{
    ViewData["Title"] = "Модуль \"Оборудование\"";
}

<h1>Модуль "Оборудование"</h1>


<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>
                Наименование
            </th>
            <th>
                Тип оборудования
            </th>
            <th>
                Модель
            </th>
            <th>
                Серийный номер
            </th>
            <th>
                Производитель
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nameEquipment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.modelEquipment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.serialNumberEquipment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.manufactorerEquipment)
            </td>
        </tr>
}
    </tbody>
</table>



